<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="modal fade" id="google-event" data-backdrop="static" data-keyboard="false"
         tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel4" aria-hidden="true"
         th:fragment="google_event">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel4" th:text="#{modal.google_title}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-warning google_event_warning" th:text="#{modal.google_description}"></p>
                    <div class="spinner-border spinner-border-sm google_event_spinner d-none" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p class="alert alert-success google_event_success d-none" th:text="#{modal.google_success}"></p>
                    <p class="alert alert-success google_event_success_text d-none"></p>
                    <p class="alert alert-danger google_event_error d-none"></p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/google_send}" method="post" class="confirmation-google-send">
                        <button type="submit" class="btn btn-success" th:text="#{modal.send}"></button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{modal.close}"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>